<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">DeFest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/" id="nav-home">Home</a>
                <a class="nav-link" href="/events" id="nav-events">Events</a>
                <a class="nav-link" href="/profile" id="nav-profile">Profile</a>
            </div>
        </div>
        <input type="hidden" id="active-link" value="<%= link %>"></input>
    </div>
</nav>

<script>
    let active = 'nav-' + $('#active-link').val();
    $('#' + active).addClass('active').attr('aria-current', 'page');
</script>