<%- include('partials/header'); %>
    
<%- include('partials/navbar', {link: 'home'}); %>

<div class="container">
    <h1>Hello internet</h1>

    <p>Just a homepage of our lovely project</p>
</div>

<%- include('partials/footer'); %>